:root {
  --main-color: #282c34;
  --dark-color: #282e34;
  --txt-color: #f4f9ff;
  --theme-color: #0094fa;
  --accent-color: #d3fbd8;
  background-color: var(--main-color);
  color: var(--txt-color);
}

.App {
  font-size: calc(10px + 2vmin);
}

.container {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
}

.App-contents h1 {
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: calc(10px + 3.5vmin);
}

/* table */
.table-content {
  margin-top: 1rem;
}

/* map */
.map-content {
  margin-top: 2.5rem;
}

.map-content p {
  text-align: center;
  margin: 0;
  font-size: calc(5px + 2vmin);
}

.leaflet-container {
  width: 90%;
  height: 70vh;
  max-height: 80vw;
  margin: 0 auto;
}

/* home */
.title-content {
  width: 100%;
  height: 80vh;
  margin-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fadein;
  animation-duration: 2s;
}
.title-text {
  text-align: center;
  color: var(--accent-color);
}
.title-text h1 {
  font-size: calc(20px + 10vmin);
  margin: 0;
}
.title-text p {
  font-size: calc(12px + 1vmin);
  margin: 0;
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(10vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.explanation-content {
  width: 100%;
  font-size: calc(12px + 1vmin);
}

/* 404, err, loading */
.simple-content {
  width: 100%;
  margin: 5rem 0;
}

/* navbar */
.App-navbar {
  font-size: calc(10px + 2vmin);
}

/* footer */
.App-footer {
  margin-top: 5rem;
}
.footer-logo {
  width: 80%;
  max-width: 720px;
  font-size: calc(10px + 1vmin);
}
.footer-logo img {
  width: 75%;
  max-width: 240px;
}
.footer-contact {
  font-size: calc(10px + 2vmin);
  text-align: right;
  padding-bottom: 1rem;
}
.footer-contact a {
  color: var(--theme-color);
}

/* loading */
.loader {
  font-size: calc(5px + 1vmin);
  margin: 25vh auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: var(--theme-color);
  background: -moz-linear-gradient(
    left,
    var(--theme-color) 10%,
    var(--main-color) 42%
  );
  background: -webkit-linear-gradient(
    left,
    var(--theme-color) 10%,
    var(--main-color) 42%
  );
  background: -o-linear-gradient(
    left,
    var(--theme-color) 10%,
    var(--main-color) 42%
  );
  background: -ms-linear-gradient(
    left,
    var(--theme-color) 10%,
    var(--main-color) 42%
  );
  background: linear-gradient(
    to right,
    var(--theme-color) 10%,
    var(--main-color) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: var(--theme-color);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  background: var(--main-color);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
