.App {
  background-color: #282c34;
  color: #f4f9ff;
}

.App-navbar {
  font-size: calc(10px + 2vmin);
}

.App-main {
  font-size: calc(10px + 2vmin);
  margin-bottom: 5rem;
}

.container {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
}

.App-title {
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: calc(10px + 3.5vmin);
}

.App-footer {
  background-color: #282c34;
}
.footer-logo {
  width: 80%;
  max-width: 560px;
  font-size: calc(10px + 1vmin);
}
.footer-logo img {
  width: 75%;
}
.footer-contact {
  font-size: calc(10px + 2vmin);
  text-align: right;
  padding-bottom: 1rem;
}
.footer-contact a {
  color: #d3fbd8;
}
